*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.out-e
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.toc-e
*.vrb
*.maf
*.mtc
*.mtc0
thesis.pdf
thesis-reduced-*.pdf
.DS_Store
